<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minerva"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".core.INeedApplication" >
        <activity
            android:name=".account.LoadingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".account.RegActivity"
            android:label="@string/label_regactivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity 
            android:name=".core.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity> 
        <activity 
            android:name=".core.MessageActivity"
            android:label="@string/activity_message_label"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>   
        <activity 
            android:name=".core.RequestActivity"
            android:label="@string/activity_request_label"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity 
            android:name=".core.ProvideActivity"
            android:label="@string/activity_provide_label"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity 
            android:name=".core.UserActivity"
            android:label="@string/activity_profile_label"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
    </application>
	
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
